* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --white: #fff;
  --tan: #fbf8f3;
}

.gm-style,
body {
  font-family: "Open Sans", sans-serif;
  color: var(--black);
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.2rem;
}
p {
  font-size: 0.8rem;
}

/* MAP ---- START */
.map {
  height: 100%;
}

.map-wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.gm-style .info {
  padding: 11px;
  text-align: center;
}

.gm-style .info p:first-of-type {
  font-weight: 600;
}
/* MAP ---- END */

/* INFO PANEL ---- START */
.info-panel-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 35%;
  background-color: var(--tan);
  transition: ease-in-out 0.25s all;
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  transform: translateY(100%);
  opacity: 0;
  align-items: normal;
}

.info-panel-wrapper.display {
  transform: translateY(0);
  opacity: 1;
}

.info-panel-wrapper h1 {
  text-align: center;
  padding-top: 0.5em;
}

.info-panel-top {
  position: relative;
}

.info-panel-top svg {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 17px;
  left: 15px;
  cursor: pointer;
}

.info-panel-content {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info-panel-content a {
  color: var(--black);
}

.info-panel-content h2 {
  margin-bottom: 1rem;
}

.info-panel-content p:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.info-panel-content span {
  font-weight: 600;
}

.info-panel-message {
  opacity: 0.5;
  font-weight: 600;
}

.info-panel-message p:first-of-type {
  margin-bottom: 1rem;
}

.info-panel-message svg {
  width: 30px;
  margin-bottom: 1rem;
}
/* INFO PANEL ---- END */

@media (min-width: 1024px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1rem;
  }
  .map {
    height: 100vh;
  }

  .info-panel-wrapper {
    transform: translateX(100%);
    height: 100%;
    width: 370px;
  }

  .info-panel-wrapper.display {
    transform: translateX(0);
  }

  .info-panel-content {
    padding: 30px;
  }
}

@media (min-width: 1440px) {
  .info-panel-wrapper {
    height: 100%;
    width: 400px;
  }
}
